In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Cabin'].fillna(df['Cabin'].mode(), inplace=True)

/tmp/ipython-input-3196718270.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

# Binary Classification
- To predict weather a passenger survived or not

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
x = df.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Parch', 'SibSp', 'Cabin'], axis=1)
y = df['Survived']
x

     Pclass     Sex        Age     Fare Embarked
0         3    male  22.000000   7.2500        S
1         1  female  38.000000  71.2833        C
2         3  female  26.000000   7.9250        S
3         1  female  35.000000  53.1000        S
4         3    male  35.000000   8.0500        S
..      ...     ...        ...      ...      ...
886       2    male  27.000000  13.0000        S
887       1  female  19.000000  30.0000        S
888       3  female  29.699118  23.4500        S
889       1    male  26.000000  30.0000        C
890       3    male  32.000000   7.7500        Q

[891 rows x 5 columns]

In [ ]:
# Applying labelencoder on sex and embarked
le = LabelEncoder()
x['Sex'] = le.fit_transform(x['Sex'])
x['Embarked'] = le.fit_transform(x['Embarked'])

In [ ]:
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=20)

In [ ]:
scaler = MinMaxScaler()
x_train_scaled = scaler.fit_transform(x)
# x_train_scaled = scaler.fit_transform(x_train)
# x_test_scaled = scaler.fit_transform(x_test)

In [ ]:
# Building a Binary Classification model
model = Sequential()
model.add(Dense(3, activation='relu', input_shape=(5, )))
model.add(Dense(2, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(x_train_scaled, y, epochs=100, verbose=0)

In [ ]:
# Evaluating
print(model.evaluate(x_train_scaled, y))
# print(model.evaluate(x_train_scaled, y_train))
# print(model.evaluate(x_test_scaled, y_test))

28/28 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8093 - loss: 0.4611
[0.4613094627857208, 0.8035914897918701]

In [ ]:
df_test = pd.read_csv('test.csv')

In [ ]:
PassengerId = df_test['PassengerId']

In [ ]:
df_test.drop(['PassengerId', 'Name', 'Ticket', 'Parch', 'SibSp', 'Cabin'], axis=1, inplace=True)

In [ ]:
df_test.isnull().sum()
df_test['Age'].fillna(df_test['Age'].mean(), inplace=True)
df_test['Fare'].fillna(df_test['Fare'].mean(), inplace=True)

/tmp/ipython-input-687898050.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Age'].fillna(df_test['Age'].mean(), inplace=True)
/tmp/ipython-input-687898050.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Fare'].fillna(df_test['Fare'].mean(), inplace=True)

In [ ]:
df_test['Sex'] = le.fit_transform(df_test['Sex'])
df_test['Embarked'] = le.fit_transform(df_test['Embarked'])

In [ ]:
df_test_scaled = scaler.fit_transform(df_test)

In [ ]:
y_pred = model.predict(df_test_scaled)

14/14 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step

In [ ]:
len(y_pred)

418

In [ ]:
def activation(number):
  if number < 0.5:
    return 0
  else:
    return 1

In [ ]:
df_rc = pd.concat([pd.Series(PassengerId), pd.Series(y_pred.flatten(), name='Survived')], axis=1)

In [ ]:
df_rc['Survived'] = df_rc['Survived'].apply(activation)

In [ ]:
df_rc

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [ ]:
# df_rc.to_csv('submission_11.csv', index=True)

# Multi Class Classification Problem
- To predict the age category

In [ ]:
df = pd.read_csv('test.csv')
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Fare'].fillna(df['Fare'].mean(), inplace=True)

/tmp/ipython-input-3079725040.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-3079725040.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fare'].fillna(df['Fare'].mean(), inplace=True)

In [ ]:
# Creating age group labels
def get_age_grps(age):
  if age <= 12:
    return 0 # Child
  elif age > 12 and age <= 18:
    return 1 # Teen
  elif age > 18 and age <= 40:
    return 2 # Adult
  else:
    return 3 # Senior Citizen

In [ ]:
df['Age_group'] = df['Age'].apply(get_age_grps)

In [ ]:
df_test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Age_group'],
      dtype='object')

In [ ]:
x = df[['Pclass', 'Sex', 'Age', 'Fare', 'Embarked']]
y = df['Age_group']

In [ ]:
x['Sex'] = le.fit_transform(x['Sex'])
x['Embarked'] = le.fit_transform(x['Embarked'])

/tmp/ipython-input-4180083033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Sex'] = le.fit_transform(x['Sex'])
/tmp/ipython-input-4180083033.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Embarked'] = le.fit_transform(x['Embarked'])

In [ ]:
x_scaled = scaler.fit_transform(x)
x_mc = x_scaled
y_mc = to_categorical(df['Age_group'])

In [ ]:
# Spliting the data in training and testing
x_train, x_test, y_train, y_test = train_test_split(x_mc, y_mc, test_size=0.25, random_state=30)

In [ ]:
x_train.shape, y_train.shape

((313, 5), (313, 4))

In [ ]:
# Define the model
model_mc = Sequential()
# model_mc.add(Input(shape=(5,)))
model_mc.add(Dense(12, activation='relu', input_shape=(5,)))
model_mc.add(Dense(8, activation='relu'))
model_mc.add(Dense(4, activation='softmax')) # Here 4 means number of categories

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
# Compiling
model_mc.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
model_mc.fit(x_train, y_train, epochs=30, verbose=0)

In [ ]:
loss, accuracy = model_mc.evaluate(x_test, y_test)
print(f"Test Loss: {loss}")
print(f"Test Accuracy: {accuracy}")

4/4 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.6851 - loss: 0.9200
Test Loss: 0.902393102645874
Test Accuracy: 0.6761904954910278